#profile_wrapper {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-gap: 20px; 
    width: 80%;
    margin: auto;
}
#menu_div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.menuButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: transparent;
}

#main_div {
    vertical-align:top;
    display: inline-block;
    border: 1px solid #0C1B33;
}