.summaryPlot{
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 20px;
}

.categoriesTableDiv{
    align-self: center;
}

.categoriesTable td, .categoriesTable th{
    border: 1px solid #ddd;
    padding: 3px;
}

.categoriesTable tr:nth-child(even){
    background-color: #D1DEDE;
}

.categoriesTable tr:hover {
    background-color: #4B6858;
}

.categoriesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3185FC;
  color: white;
}
