.summaryPlotWrapper {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.summaryPlot {
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  align-items: center;
  width: 50%;
  height: 50%;
}

.categoriesTableDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.categoriesTable td,
.categoriesTable th {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: center;
}

.categoriesTable tr:nth-child(even) {
  background-color: #d1dede;
}

.categoriesTable tr:nth-child(odd) {
  background-color: white;
}

.categoriesTable tr:hover {
  background-color: #4b6858;
}

.categoriesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3185fc;
  color: white;
}

.dropdownSelector {
  background-color: white;
}