.summaryPlot {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.categoriesTableDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriesTable td,
.categoriesTable th {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: center;
}

.categoriesTable tr:nth-child(even) {
  background-color: #d1dede;
}

.categoriesTable tr:hover {
  background-color: #4b6858;
}

.categoriesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3185fc;
  color: white;
}
